<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>headerCellClass</key>
			<string>APRFaceIDTitleCell</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.constanze.aprilprefs</string>
            <key>key</key>
            <string>aprilHideFaceIDLock</string>
            <key>label</key>
            <string>Hide Face ID Lock?</string>
            <key>PostNotification</key>
            <string>com.constanze.aprilpref/ReloadPrefs</string>
        </dict>
        <dict>
            <key>action</key>
            <string>colorpicker</string>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>label</key>
            <string>FaceID Lock Icon Color</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>X Position</string>
            <key>footerText</key>
            <string>Y Position</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSliderCell</string>
            <key>default</key>
            <string>176.0</string>
            <key>defaults</key>
            <string>com.constanze.aprilprefs</string>
            <key>label</key>
            <string>X Position</string>
            <key>min</key>
            <string>-100.0</string>
            <key>max</key>
            <string>500.0</string>
            <key>showValue</key>
            <true/>
            <key>key</key>
            <string>aprilFaceIDXControl</string>
            <key>PostNotification</key>
            <string>com.constanze.aprilprefs/ReloadPrefs</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSliderCell</string>
            <key>default</key>
            <string>0.0</string>
            <key>defaults</key>
            <string>com.constanze.aprilprefs</string>
            <key>label</key>
            <string>Y Position</string>
            <key>min</key>
            <string>-100.0</string>
            <key>max</key>
            <string>750.0</string>
            <key>showValue</key>
            <true/>
            <key>key</key>
            <string>aprilFaceIDYControl</string>
            <key>PostNotification</key>
            <string>com.constanze.aprilprefs/ReloadPrefs</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>FaceID Size</string>
            <key>footerText</key>
            <string>FaceID Opacity</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSliderCell</string>
            <key>default</key>
            <string>0.0</string>
            <key>defaults</key>
            <string>com.constanze.aprilprefs</string>
            <key>label</key>
            <string>Lock Size</string>
            <key>min</key>
            <string>-10.0</string>
            <key>max</key>
            <string>60.0</string>
            <key>showValue</key>
            <true/>
            <key>key</key>
            <string>aprilFaceIDSizeControl</string>
            <key>PostNotification</key>
            <string>com.constanze.aprilprefs/ReloadPrefs</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSliderCell</string>
            <key>default</key>
            <string>1.0</string>
            <key>defaults</key>
            <string>com.constanze.aprilprefs</string>
            <key>label</key>
            <string>Lock Opacity</string>
            <key>min</key>
            <string>0.0</string>
            <key>max</key>
            <string>1.0</string>
            <key>showValue</key>
            <true/>
            <key>key</key>
            <string>aprilFaceIDAlphaControl</string>
            <key>PostNotification</key>
            <string>com.constanze.aprilprefs/ReloadPrefs</string>
        </dict>
	</array>
	<key>title</key>
	<string>FaceID</string>
</dict>
</plist>
