<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>APRTitleCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>defaults</key>
			<string>com.constanze.aprilprefs</string>
			<key>key</key>
			<string>aprilAlignment</string>
			<key>label</key>
			<string>April Alignment</string>
			<key>default</key>
			<string>0</string>
			<key>validTitles</key>
			<array>
				<string>Left</string>
				<string>Center</string>
				<string>Right</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>id</key>
			<string>ModeCell</string>
			<key>PostNotification</key>
			<string>com.constanze.aprilprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>defaults</key>
			<string>com.constanze.aprilprefs</string>
			<key>key</key>
			<string>aprilSpringAnimationVelocity</string>
			<key>label</key>
			<string>April Alignment Animation</string>
			<key>default</key>
			<string>5</string>
			<key>validTitles</key>
			<array>
				<string>Smooth</string>
				<string>Bouncy</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>5</integer>
				<integer>10</integer>
			</array>
			<key>id</key>
			<string>ModeCell</string>
			<key>PostNotification</key>
			<string>com.constanze.aprilprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<string>0</string>
			<key>defaults</key>
			<string>com.constanze.aprilprefs</string>
			<key>label</key>
			<string>Vert. Offset</string>
			<key>min</key>
			<string>-500</string>
			<key>max</key>
			<string>500</string>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<true/>
			<key>key</key>
			<string>aprilOffset</string>
			<key>PostNotification</key>
			<string>com.constanze.aprilprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>action</key>
			<string>ftiModal</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBSpinnerTableCell</string>
			<key>label</key>
			<string>First Time Install</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>APRTimeListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Time Settings</string>
			<key>icon</key>
			<string>timeicon</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>APRDateListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Date Settings</string>
			<key>icon</key>
			<string>dateicon</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>APRWeatherListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Weather Settings</string>
			<key>icon</key>
			<string>weathericon</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>APREventListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Up Next Settings</string>
			<key>icon</key>
			<string>calendaricon</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>APRFaceIDListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Face ID Settings</string>
			<key>icon</key>
			<string>faceicon</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Global Settings</string>
			<key>footerText</key>
			<string>Choose from one of your top 3 languages to set the date and time locale with.</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.constanze.aprilprefs</string>
            <key>key</key>
            <string>aprilPreserveKalm</string>
            <key>label</key>
            <string>Allow Other LS Tweaks</string>
            <key>PostNotification</key>
            <string>com.constanze.aprilpref/ReloadPrefs</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <true/>
            <key>defaults</key>
            <string>com.constanze.aprilprefs</string>
            <key>key</key>
            <string>aprilAlwaysUseWallpaper</string>
            <key>label</key>
            <string>Always use Wallpaper Colors</string>
            <key>PostNotification</key>
            <string>com.constanze.aprilpref/ReloadPrefs</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>defaults</key>
			<string>com.constanze.aprilprefs</string>
			<key>key</key>
			<string>aprilPreferredLanguage</string>
			<key>label</key>
			<string>April Language</string>
			<key>default</key>
			<string>0</string>
			<key>validTitles</key>
			<array>
				<string>1st Language</string>
				<string>2nd Language</string>
				<string>3rd Language</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>id</key>
			<string>ModeCell</string>
			<key>PostNotification</key>
			<string>com.constanze.aprilprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Respring required when changing labels or the update interval for weather.</string>
		</dict>
		<dict>
			<key>action</key>
			<string>activateWallpaperColors:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBSpinnerTableCell</string>
			<key>label</key>
			<string>Wallpaper Colors!</string>
		</dict>
		<dict>
			<key>action</key>
			<string>resetSettings:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBSpinnerTableCell</string>
			<key>label</key>
			<string>Reset Settings</string>
		</dict>
		<dict>
			<key>action</key>
			<string>respring</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBSpinnerTableCell</string>
			<key>label</key>
			<string>Respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Big thanks to Exerra for the icon &amp; Twickd banner!</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>ConstanzeDev</string>
			<key>user</key>
			<string>julztdg</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>Exerra</string>
			<key>user</key>
			<string>exerra</string>
		</dict>
	</array>
	<key>title</key>
	<string>April</string>
</dict>
</plist>
