Package: com.ajaidan.aeolus
Name: Aeolus
Version: 1.0.1
Architecture: iphoneos-arm
Description: A tweak to remove Table Separators system-wide (without crashes).
Maintainer: Monotrix
Author: Monotrix
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
