Package: xyz.monotrix.aeolus
Name: Aeolus
Version: 1.0.6
Architecture: iphoneos-arm
Description: A tweak to remove Table Separators system-wide (without crashes). Discord link: https://discord.gg/xdUkRxuvGQ
Maintainer: Monotrix
Author: Monotrix
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
