Package: xyz.monotrix.mavalry
Name: Mavalry
Depends: mobilesubstrate, firmware (>= 13.0), preferenceloader
Version: 2.1-EOL
Architecture: iphoneos-arm
Description: iOS customization, done right. WARNING: Mavalry is now EOL. It will no longer be receiving updates.
Maintainer: Monotrix
Author: Monotrix
Section: Tweaks
icon: file:///Library/PreferenceBundles/MavalryPrefs.bundle/icon@3x.png
